<div class="border rounded shadow box2" style="height: 530px;overflow: scroll;">
  <div class="row">
    <div class="col jobTitle">
        <h1>{{jobToShow}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col companyName">
      <h3>{{jobToShow}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col locationName">
      <h3>{{jobToShow}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col description">
      <h3>{{jobToShow}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col button">
      <button class="btn btn-primary edit-button" type="button">Edit my Cover Letter</button>
    </div>
    <div class="col button">
      <button class="btn btn-primary apply-button" type="button">Apply Now</button>
    </div>
  </div>
</div>
