<div class="col"
  style="color: rgb(255,255,255);font-size: 17px;font-weight: normal;height: 735px;margin: 0px;margin-bottom: 0px;margin-right: px;width: 1066px;">
  <div style="height: 652px;width: 1041px;">
    <form>
      <p class="d-xl-flex align-items-xl-center infotitle">Personal Info</p>
      <div class="border rounded shadow userinfo">
        <div style="height: 35px;width: 910px;margin-top: 10px;margin-left: 20px;"><label
            class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel">Full Name</label><input
            class="form-control d-inline-block float-left" type="text" style="height: 35px;width: 237px;"><label
            class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel"
            style="margin-left: 29px;width: 77px;">Email</label><input class="form-control d-inline-block float-left"
            type="text" style="height: 35px;width: 461px;"></div>
        <div class="d-inline-block float-left" style="height: 35px;width: 910px;margin-top: 10px;margin-left: 20px;">
          <label class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel">Phone</label><input
            class="form-control d-inline-block float-left" type="text" style="height: 35px;width: 189px;"><label
            class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel"
            style="margin-left: 22px;width: 86px;">address</label><input class="form-control d-inline-block float-left"
            type="text" style="height: 35px;width: 508px;"></div>
      </div>
      <!---this is where to for loop-->
      <p class="d-xl-flex align-items-xl-center infotitle">Experiance</p>
      <div class="border rounded shadow experiance-info">
        <div style="height: 35px;width: 910px;margin-top: 10px;margin-left: 20px;"><label
            class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel">Type</label><select
            class="form-control d-inline-block float-left" style="height: 35px;width: 212px;">
            <optgroup label="Pick Type">
              <option value="company" selected="">Company</option>
              <option value="school">School</option>
            </optgroup>
          </select>
          <label class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel"
            style="margin-left: 29px;width: 101px;">Company</label><input class="form-control d-inline-block float-left"
            type="text" style="height: 35px;width: 461px;"></div>
        <div class="d-inline-block float-left" style="height: 44px;width: 910px;margin-top: 10px;margin-left: 20px;">
          <label class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel">Title</label><input
            class="form-control d-inline-block float-left" type="text" style="height: 35px;width: 296px;"><label
            class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel"
            style="margin-left: 22px;width: 60px;">Start</label><input class="form-control d-inline-block float-left"
            type="date" style="width: 168px;"><label
            class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel"
            style="margin-left: 22px;width: 68px;">End</label><input class="form-control d-inline-block float-left"
            type="date" style="width: 168px;"></div>
        <div class="d-inline-block float-left" style="height: 35pxpx;width: 910px;margin-top: 10px;margin-left: 20px;">
          <label class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel">Specialty</label><input
            class="form-control" type="text" style="height: 35px;width: 804px;"></div><label
          class="d-inline-block float-left d-xl-flex align-items-xl-center infolabel"
          style="margin-left: 21px;">Detail</label><textarea class="form-control"
          style="margin-right: 28px;width: 910px;margin-left: 19px;height: 155px;"></textarea>
      </div><button class="btn btn-primary" type="button" style="margin-left: 709px;width: 105px;">Cancel</button>
      <button class="btn btn-primary" type="button" style="margin-left: 54px;width: 109px;">Submit</button>
    </form>
  </div>
</div>