<div class="container" style="width: 1300px;height: 760px;margin: 0;padding: 0;max-width: 0px;">
    <div class="row drag" style="width: 1300px;margin: 0;margin-right: 0;box-shadow: 0px 0px 18px rgb(224,224,224);">
        <div class="col-xl-12 offset-xl-0" style="height: 35px;padding: 5px 0px;width: 1280px;margin-left: 0px;">
            <p class="d-inline-block float-left" style="width: 1203px;margin-left: 11px;color: rgb(95,166,237);">
                Recruiter</p>
            
        </div>
    </div>
    <div class="row" style="width: 1300px;margin: 0px;height: auto;">
        <div class="col-xl-2" id="grad" style="height: 818px;background-color: #4684cd;padding: 0;padding-top: 84px;">
            <a [routerLink]="['/new']"><div class="row" style="height: 55px;width: auto;margin: 0px;margin-top: 10px;">
                <div class="col hover-btn-1" data-bs-hover-animate="pulse"
                    style="padding: 7px;padding-top: 15px;padding-left: 22px;margin: 0px 0px;margin-bottom: 0px;"><i
                        class="fa fa-folder-open"
                        style="color: rgb(255,255,255);font-size: 22px;width: 30px;height: 0;margin-top: 1px;"></i>
                    <p class="d-inline-block"
                        style="color: rgb(255,255,255);font-size: 17px;font-weight: normal;height: 25px;margin: 0px;margin-bottom: 0px;margin-right: 0px;">
                        &nbsp;New &amp; Compose</p>
                </div>
            </div></a>
            <a [routerLink]="['/']"><div class="row" style="height: 55px;width: auto;margin: 0px;margin-top: 10px;">
                <div class="col hover-btn-1" data-bs-hover-animate="pulse"
                    style="padding: 7px;padding-top: 15px;padding-left: 22px;"><i class="fa fa-search"
                        style="color: rgb(255,255,255);font-size: 22px;width: 37px;height: 0;margin-top: 1px;"></i>
                    <p  class="d-inline-block"
                        style="color: rgb(255,255,255);font-size: 17px;font-weight: normal;height: 25px;margin: 0px;margin-bottom: 0px;margin-right: 0px;">
                        Job Search</p>
                </div>
            </div></a>
            <a [routerLink]="['/new/jobs']"><div class="row" style="height: 55px;width: auto;margin: 0px;margin-top: 10px;">
                <div class="col hover-btn-1" data-bs-hover-animate="pulse"
                    style="padding: 7px;padding-top: 15px;padding-left: 22px;"><i class="fa fa-search"
                        style="color: rgb(255,255,255);font-size: 22px;width: 37px;height: 0;margin-top: 1px;"></i>
                    <p  class="d-inline-block"
                        style="color: rgb(255,255,255);font-size: 17px;font-weight: normal;height: 25px;margin: 0px;margin-bottom: 0px;margin-right: 0px;">
                        New Jobs</p>
                </div>
            </div></a>
            <a [routerLink]="['/edit']"><div class="row" style="height: 55px;width: auto;margin: 0px;margin-top: 10px;">
                <div class="col hover-btn-1" data-bs-hover-animate="pulse"
                    style="padding: 12px;padding-top: 15px;padding-left: 22px;"><i class="fa fa-address-book"
                        style="color: rgb(255,255,255);font-size: 22px;width: 36px;height: 0;margin-top: 1px;"></i>
                    <p class="d-inline-block"
                        style="color: rgb(255,255,255);font-size: 17px;font-weight: normal;height: 25px;margin: 0px;margin-bottom: 0px;margin-right:  0px;">
                        Users Info</p>
                </div>
            </div></a>
            <a [routerLink]="['/show']"><div class="row" style="height: 55px;width: auto;margin: 0px;margin-top: 10px;">
                <div class="col hover-btn-1" data-bs-hover-animate="pulse"
                    style="padding: 12px;padding-top: 15px;padding-left: 22px;"><i class="fa fa-address-book"
                        style="color: rgb(255,255,255);font-size: 22px;width: 36px;height: 0;margin-top: 1px;"></i>
                    <p class="d-inline-block"
                        style="color: rgb(255,255,255);font-size: 17px;font-weight: normal;height: 25px;margin: 0px;margin-bottom: 0px;margin-right:  0px;">
                        Profile</p>
                </div>
            </div></a>
        </div>
        <div class="col" style="font-weight: normal;height: 735px; width: 1066px;margin: 0px;margin-bottom: 0px;margin-right: 0px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


