min-n-close {
}

#grad {
    opacity: 0.8;
    box-shadow: 0px 8px 7px rgb(197,197,197);
    background-image: linear-gradient(to bottom left, rgb(82,165,225), rgb(38,76,174));
}

.col.hover-btn-1 {
}

.drag {
    -webkit-app-region: drag;
}