<div class="border rounded shadow box2" style="height: 530px;overflow: scroll;">
  <div class="jobInfo">

    <div class="row">
      <div class="col jobTitle">
        <h1>{{jobToShow.title}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col companyName">
        <h3>{{jobToShow.sjcl}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col description">
        <h4>{{jobToShow.detailinfo}}</h4>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col button">
        <button class="btn btn-primary edit-button" type="button">Edit my Cover Letter</button>
      </div>
      <div class="col button">
        <button (click)="onNav(jobToShow.jk)" class="btn btn-primary apply-button" type="button">Apply Now</button>
      </div>
    </div>

</div>
