min-n-close {
}

#grad {
  opacity: 0.8;
  box-shadow: 0px 8px 7px rgb(197,197,197);
  background-image: linear-gradient(to bottom left, rgb(82,165,225), rgb(38,76,174));
}

.col.hover-btn-1 {
}

form {
  height: 128px;
  padding: 0px 18px;
  min-height: -3px;
}

.userinfo {
  background-color: #ffffff;
  height: 75px;
  margin-top: 5px;
  width: 1000px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.infotitle {
  height: 44px;
  font-size: 29px;
  padding-left: 0px;
  color: rgb(82,194,242);
  margin-bottom: 0px;
  margin-top: 12px;
}

.infolabel {
  color: rgb(175,178,187);
  height: 35px;
  width: 103px;
}

.form-control {
}

.experiance-info {
  height: 398px;
  margin-top: 6px;
  padding: 12px;
  padding-bottom: 12px;
  padding-left: 28px;
  margin-bottom: 26px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}