<div style="height: 714px;width: 1041px;">
    <form>
        <p class="d-xl-flex align-items-xl-center infotitle">Cover Letter</p>
        <div class="border rounded shadow userinfo">
            <div style="height: 215px;width: 940px;margin-top: 10px;margin-left: 5px;"></div><button class="btn btn-primary" type="button" style="margin-left: 810px;">Generate</button></div>
    </form>
    <form>
        <p class="d-xl-flex align-items-xl-center infotitle" style="margin-top: 0px;">Resume</p>
        <div class="border rounded shadow userinfo">
            <div style="height: 215px;width: 940px;margin-top: 10px;margin-left: 5px;"></div><button class="btn btn-primary" type="button" style="margin-left: 810px;">Generate</button></div>
    </form>
</div>